{% extends 'base.html' %}
{% block content %}
{% load cart %}

<div class="container">
  <div class="border rounded p-4 m-4">
    <p class="display-4 pl-4 ml-4">Your Cart</p>
    <hr>
    {% if request.session.cart %}

    <table class="table">
      <thead>
        <tr>
          <th>Sno.</th>
          <th>Image</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>

        {% for product in products %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product|cart_quantity:request.session.cart}}</td>
          <td>{{product|price_total:request.session.cart}}</td>
        </tr>

        {% endfor %}

      </tbody>

      <tfoot>
        <tr>
          <th colspan="4"></th>
          <th class="" colspan="">Total</th>
          <th>{{products|total_cart_price:request.session.cart}}</th>
        </tr>
      </tfoot>
    </table>

    <div class="m-3 p-3">
      <a href="#" data-mdb-toggle="modal" data-mdb-target="#checkoutModal"
        class="btn border rounded  col-lg-3 float-right">Check
        out</a>
    </div>
    {% else %}
    <p class="text-center">Cart is Empty </p>
    {% endif %}

  </div>
</div>
<!-- modal -->
<div class="modal top fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true"
  data-mdb-backdrop="true" data-mdb-keyboard="true">
  <div class="modal-dialog  ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkoutModalLabel">Check Out Form</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/check-out" method="POST">
          {%if error_message %}
          <div class="alert alert-danger" role="alert">{{error_message}}</div>
          {% endif %} {% csrf_token %}
          <div class="form-outline mb-4">
            <input name="address" class="form-control" />
            <label class="form-label" for="">Address</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text" name="phone" class="form-control" />
            <label class="form-label" for="form2Example2">Phone</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>

    </div>
  </div>
</div>




{% endblock %}