{% extends 'Base.html' %} {% block content %}

<div class="container">
  <div class="p-4 m-4">
    <div class="col-lg-4 mx-auto border rounded">
      <h3 class="alert alert-light border rounded pt-4">Create New Account</h3>
      <form action="/signup" method="POST">
        {%if error_message %}
        <div class="alert alert-danger" role="alert">{{error_message}}</div>
        {% endif %} {% csrf_token %}
        <div class="form-group">
          <label for="">First Name </label>
          <input
            type="text"
            name="firstname"
            id=""
            value="{{first_name}}"
            class="form-control form-control-sm"
            placeholder=""
            aria-describedby="helpId"
          />
        </div>

        <div class="form-group">
          <label for="">Last Name </label>
          <input
            type="text"
            name="lastname"
            id=""
            value="{{last_name}}"
            class="form-control form-control-sm"
            placeholder=""
            aria-describedby="helpId"
          />
        </div>

        <div class="form-group">
          <label for="">Phone Number </label>
          <input
            type="text"
            name="phonenumber"
            id=""
            value="{{phone_number}}"
            class="form-control form-control-sm"
            placeholder=""
            aria-describedby="helpId"
          />
        </div>

        <div class="form-group">
          <label for="">Email </label>
          <input
            type="Email"
            name="email"
            id=""
            value="{{email}}"
            class="form-control form-control-sm"
            placeholder="example@gmail.com"
            aria-describedby="helpId"
            hx-post="/check-email"
            hx-trigger="keyup"
            hx-target="#email-error"
            hx-swap="outerhtml"
          />
          <div id="email-error"></div>
        </div>

        <div class="form-group">
          <label for="">password </label>
          <input
            type="password"
            name="password"
            id=""
            value="{{password}}"
            class="form-control form-control-sm"
            placeholder="********"
            aria-describedby="helpId"
          />
        </div>

        <div class="form-group form-control-sm">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock%}
