HTML,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* LOGIN PAGE */
#loginContainer {
  border-radius: 0.5em;
  box-shadow: 15px 22px 56px -15px rgb(107 30 30 / 65%);
}
.ul .li {
  display: block;
  padding: 10px 30px;
}
