{% load cart %}
<div id="products" class="col-lg-9 mx-auto">
  <div class="row mx-auto">
    {% for product in products %}
    <div
      class="card mx-auto mb-3"
      name="product"
      id="{{product.id}}"
      style="width: 18rem"
    >
      <img
        class="card-img-top"
        src="{{product.image.url}}"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-title-card-link">{{product.name}}</p>

        <p class="card-text"><b>{{product.price}}</b></p>
        <a href="/productpage/{{product.id}}" class="btn btn-primary"
          >More Info</a
        >
        <!-- {{product | is_in_cart:request.session.cart }} -->
      </div>

      <div class="card-footer p-0 no-gutters">
        {% if product|is_in_cart:request.session.cart %}
        <div class="row no-gutters">
          <form
            hx-post="add_product_to_cart/#{{product.id}}"
            hx-target="#products"
            hx-swap="outerHTML"
            class="col-2"
          >
            {% csrf_token %}
            <input hidden type="text" name="product" value="{{product.id}}" />
            <input hidden type="text" name="remove" value="True" />
            <input
              type="submit"
              value=" - "
              class="btn btn-block btn-light border-right"
            />
          </form>
          <div class="text-center col">
            {{product|cart_quantity:request.session.cart}} in Cart
          </div>
          <form
            hx-post="add_product_to_cart/#{{product.id}}"
            hx-target="#products"
            hx-swap="outerHTML"
            class="col-2"
          >
            {% csrf_token %}
            <input hidden type="text" name="product" value="{{product.id}}" />
            <input
              type="submit"
              value=" + "
              class="btn btn-block btn-light border-left"
            />
          </form>
        </div>
        {% else %}
        <form
          class="btn-block"
          hx-post="add_product_to_cart/#{{product.id}}"
          hx-target="#products"
          hx-swap="outerHTML"
        >
          <input hidden type="text" name="product" value="{{product.id}}" />
          <input
            type="submit"
            class="float-right btn btn-light form-control"
            value="Add To Cart"
          />
        </form>

        {%endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
