{% load static %}

<div class="list-group">
    <a href="/ " class="list-group-item list-group-item-action">
        All Products
    </a>
    {%for category in categories%}
    <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">
        {{category.name}}
    </a>
    {% endfor %}
    <!-- For making sorting functionality -->
    <select name="sort" id="sort-list" onchange="location = finalurl();" style="margin-left: auto;">
        <option value="" id="placeholder" disabled selected hidden>Sort</option>
        <option id="price" value="price">Price: Low To High</option>
        <option id="-price" value="-price">Price: High To Low</option>
        <option id="product_name" value="product_name">Product Name</option>
        <option id="-date_added" value="-date_added">What's New</option>
    </select>

    <!-- For filtering based on Price -->
    <select name="price" id="price-list" onchange="location = finalurl2();" style="margin-left: auto;">
        <option value="" id="price-placeholder" disabled selected hidden>Price</option>
        <option id="pr500" value="500">less than 500</option>
        <option id="pr1000" value="1000">less than 1000</option>
        <option id="pr2000" value="2000">less than 2000</option>
        <option id="pr10000" value="10000">less than 10000</option>
    </select>
</div>